<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <connectionStrings>
        <!-- Standard SQL Server / Express / LocalDB connection strings -->
        <!-- Default: Local default instance or SQLEXPRESS -->
        <add name="StudentDbConnection" 
             connectionString="Server=.;Database=Student;Integrated Security=True;TrustServerCertificate=True;" 
             providerName="System.Data.SqlClient" />
        
        <!-- LocalDB instance alternative:
        <add name="StudentDbConnection" 
             connectionString="Server=(localdb)\MSSQLLocalDB;Database=Student;Integrated Security=True;TrustServerCertificate=True;" 
             providerName="System.Data.SqlClient" />
        -->
        
        <!-- SQL Express instance alternative:
        <add name="StudentDbConnection" 
             connectionString="Server=.\SQLEXPRESS;Database=Student;Integrated Security=True;TrustServerCertificate=True;" 
             providerName="System.Data.SqlClient" />
        -->
    </connectionStrings>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>
